<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Register - Photo Gallery</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic' rel='stylesheet' type='text/css'>
<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/global.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/assets/plugins/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="bg-color-sky-light">
        <br>
    <center><h2>Photo Gallery</h2>
    <br>
    <a href="/">Home</a> | <a href="/login">Login</a> | <a href="/register">Register</a>
    </center>
        <div class="content-sm container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <article class="blog-grid margin-b-30">
                        <div class="blog-grid-content">
                            <h2 class="blog-grid-title-lg">Register</h2>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert alert-danger">
                                {% for message in messages %}
                                <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}
<form method="post" action="/register">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
<br>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
<br>
                            <button type="submit" class="btn-base-bg btn-base-sm radius-3">Register</button>
                            <br><br>
                            <p>Already have an account? <a href="/login">Login here</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/scripts/app.js"></script>
</body>
</html>
